<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SiGeUr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" href="#">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cargos" href="#">Cargos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfis" href="#">Perfis</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="d-flex justify-content-center">
  <div class="container">
    <h1>SiGeUr - Sistema de Gerencialmente de Usuários &reg;</h1>
  </div>
</footer>