<div class="container row my-4 mb-2">
  <a href="#" routerLink="/cargos/cad" class="btn btn-dark">Adicionar Cargo</a>
</div>
<div class="container row">
  <div class="alert " [ngClass]="{'alert-success': response === true, 'alert-danger':response === false }">
    {{msgResponse}}
  </div>
</div>
<ul class="list-group" style="list-style: none;">
  <li *ngFor='let cargo of cargosList | async' class="list-group-item d-flex justify-content-between">
    <span class="badge badge-dark p-2">
      {{cargo.id}}
    </span>
    <span class="mr-auto ml-2">
      {{cargo.nome}}
    </span>

    <span>
      <a  (click)="editCargo(cargo.id)" class="btn btn-info">Editar</a>
    |
      <a  (click)="deleteCargo(cargo.id)" class="btn btn-danger">Excluir</a>
    </span>
  </li>
</ul>
